{% extends 'base.html' %}
{% block style %}
<style>
    .info_box {
        padding-top: 1px;
        margin:  0 auto;
        width: 900px;
    }
    .info_minibox1, .info_minibox2 {
        float: left;
        #border: 1px solid red;
        width: 450px;
        height: 400px;
        font-weight: bold;
        padding: 10px;
        margin-top: 30px;
        background-color: white;
        box-shadow: 0 1px 1px 0 black;
        font-size: 12px;
    }
    .clearfix {
        content: "";
        display: block;
        clear: both;
    }
    .btn_box {
        text-align: center;
        padding-top: 10px;
    }
    .applybtn, .rwbtn, .cancelbtn {
        display: inline-block;
        margin-right: 10px;
    }
    .date_all {
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
    }
    .date, .vdate {
        display: inline-block;
    }
</style>


{% endblock %}
{% block main %}
    <main>
    <form name="applyfrm">
        <div class="main_box">
            <div class="info_box">
                <div class="info_minibox1">
                    <div id="name">
                        <div class="col-auto">
                            <label for="name" class="col-form-label">이름</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="name" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="pnumber">
                        <div class="col-auto">
                            <label for="pnumber" class="col-form-label">전화번호</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="pnumber" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="email">
                        <div class="col-auto">
                            <label for="email" class="col-form-label">이메일</label>
                        </div>
                        <div class="youCo">
                            <input type="text" id="email" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="cname">
                        <div class="col-auto">
                            <label for="cname" class="col-form-label">회사이름</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="cname" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="rank">
                        <div class="col-auto">
                            <label for="rank" class="col-form-label">직급</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>직급 선택</option>
                                <option value="1">킹</option>
                                <option value="2">왕</option>
                                <option value="3">짱</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                <div class="info_minibox2">
                    <div id="vcompany">
                        <div class="col-auto">
                            <label for="vcompany" class="col-form-label">방문할 회사</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>방문 회사</option>
                                <option value="1">성은컴퍼니</option>
                                <option value="2">윤성컴퍼니</option>
                                <option value="3">주현컴퍼니</option>
                            </select>
                        </div>
                    </div>
                    <div id="departure">
                        <div class="col-auto">
                            <label for="departure" class="col-form-label">부서명</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="departure" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="employee_id">
                        <div class="col-auto">
                            <label for="employee_id" class="col-form-label">담당자</label>
                            <select class="form-select" aria-label="">
                                {% for emp in emp_list %}
                                    <option value="{{ emp.id }}">{{emp.name}} {{emp.job_position}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="vlocation">
                        <div class="col-auto">
                            <label for="vlocation" class="col-form-label">방문장소</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="vlocation" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="vpurpose">
                        <div class="col-auto">
                            <label for="vpurpose" class="col-form-label">방문목적</label>
                        </div>
                        <div class="vpurpose">
                            <input type="text" id="vpurpose" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div class="date_all">
                        <div class="date">
                            <div class="col-auto">
                                <label for="date" class="col-form-label">신청일자</label>
                                <label for="start"></label><input type="date" id="date" name="trip-start" value="2024-04-11">
                            </div>
                        </div>
                        <div class="vdate">
                            <div class="col-auto">
                                <label for="vdate" class="col-form-label">방문일자</label>
                                <label for="start"></label><input type="date" id="vdate" name="trip-start" value="2024-04-11">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="clearfix"></div>
            <div class="btn_box">
                <div class="applybtn">
                    <button type="button" name="applybtn" id="applybtn" class="form-control btn btn-light btn-outline-dark btn-lg theme-btn--dark-inverse sqs-button-element--dark">방문신청</button>
                </div>
                <div class="rwbtn">
                    <button type="button" name="rwbtn" class="form-control btn btn-light btn-outline-dark btn-lg theme-btn--dark-inverse sqs-button-element--dark">&nbsp;재작성&nbsp;</button>
                </div>
                <div class="cancelbtn">
                    <button type="button" name="cancelbtn" class="form-control btn btn-light btn-outline-dark btn-lg theme-btn--dark-inverse sqs-button-element--dark">방문취소</button>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}
{% block script %}
    <script>

        function validateForm() {
            let applyfrm = document.applyfrm
            let name = applyfrm.name.value;
            let pnumber = applyfrm.pnumber.value;
            let email = applyfrm.email.value;
            let cname = applyfrm.cname.value;
            let rank = applyfrm.rank.value;
            let vcompany = applyfrm.vcompany.value;
            let departure = applyfrm.departure.value;
            let vlocation = applyfrm.vlocation.value;
            let vpurpose = applyfrm.vpurpose.value;
            let date = applyfrm.date.value;
            let vdate = applyfrm.vdate.value;

            // 필수 필드 확인
            if (!name) {
                alert('성함을 입력해주세요.');
                applyfrm.name.focus();
                return false;
            }

            if (!pnumber) {
                alert('연락처를 입력해주세요.');
                applyfrm.pnumber.focus();
                return false;
            }

            if (!email) {
                alert('email 를 입력해주세요.');
                applyfrm.email.focus();
                return false;
            }

            if (!cname) {
                alert('귀사의 이름을 입력해주세요.');
                applyfrm.cname.focus();
                return false;
            }

            if (!rank) {
                alert('직급을 입력해주세요.');
                applyfrm.rank.focus();
                return false;
            }

            if (!vcompany) {
                alert('직급을 입력해주세요.');
                applyfrm.vcompany.focus();
                return false;
            }

            if (!departure) {
                alert('부서를 입력해주세요.');
                applyfrm.departure.focus();
                return false;
            }

            if (!vlocation) {
                alert('방문할 회사를 입력해주세요.');
                applyfrm.vlocation.focus();
                return false;
            }

            if (!vpurpose) {
                alert('방문목적을 입력해주세요.');
                applyfrm.vpurpose.focus();
                return false;
            }

            // 전화번호 유효성 검사
            let phoneRegex = /^\d{10,11}$/;
            if (!phoneRegex.test(phone)) {
                alert('올바른 핸드폰 번호를 입력해주세요.');
                applyfrm.pnumber.focus();
                return false;
            }

            return true;
        }

        function submitFormData() {
            let applyfrm = document.applyfrm;
            let formData = new FormData(applyfrm);
            let jsonData = {};

            formData.forEach(function(val, key) {
                jsonData[key] = val;
            });

            let apiUrl = `/applyok`;
            fetch(apiUrl, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
                .then(res => res.text())
                .then(data => {
                    if (data > 0) {
                        location.href = '/applyok.html';
                    } else {
                        location.href = '/apply.html';
                    }
                })
                .catch(err => alert('입력하신 정보를 다시 한 번 확인해주세요.'));
        }
        document.querySelector('#applybtn').addEventListener('click', submitFormData);

        // 오늘 날짜를 가져오는 함수
        function getTodayDate() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // 0부터 시작하므로 1을 더함
            var yyyy = today.getFullYear();
            return yyyy + '-' + mm + '-' + dd;
        }

        // input 요소에 오늘 날짜 설정
        document.getElementById('start').value = getTodayDate();
    </script>

{% endblock %}
