{% extends 'base.html' %}
{% block style %}
<style>
    .info_box {
        padding-top: 1px;
        margin:  0 auto;
        width: 900px;
    }
    .info_minibox1 {
        float: left;
        #border: 1px solid red;
        width: 450px;
        height: 400px;
        font-weight: bold;
        padding: 10px;
        margin-top: 40px;
        background-color: white;
        box-shadow: 0 1px 1px 0 black;
    }
    .info_minibox2 {
        #border: 1px solid red;
        float: left;
        width: 450px;
        height: 400px;
        font-weight: bold;
        padding: 10px;
        margin-top: 40px;
        background-color: white;
        box-shadow: 0 1px 1px 0 black;
    }


    .clearfix {
        content: "";
        display: block;
        clear: both;
    }
    .btn_box {
        text-align: center;
        padding-top: 5px;

    }
    .applybtn {
        display: inline-block;
        margin-right: 10px;
    }
    .rwbtn {
        display: inline-block;
        margin-right: 10px;
    }
    .cancelbtn {
        display: inline-block;
        margin-right: 10px;
    }
</style>
{% endblock %}
{% block main %}
    <main>
    <form name="applyfrm">
        <div class="main_box">
            <div class="info_box">
                <div class="info_minibox1">
                    <div id="name">
                        <div class="col-auto">
                            <label for="name" class="col-form-label">이름</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="name" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="pnumber">
                        <div class="col-auto">
                            <label for="pnumber" class="col-form-label">전화번호</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="pnumber" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="email">
                        <div class="col-auto">
                            <label for="email" class="col-form-label">이메일</label>
                        </div>
                        <div class="youCo">
                            <input type="text" id="email" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="cname">
                        <div class="col-auto">
                            <label for="cname" class="col-form-label">회사이름</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="cname" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="rank">
                        <div class="col-auto">
                            <label for="youCo" class="col-form-label">직급</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>직급 선택</option>
                                <option value="1">킹</option>
                                <option value="2">왕</option>
                                <option value="3">짱</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                <div class="info_minibox2">
                    <div id="vcompany">
                        <div class="col-auto">
                            <label for="youCo" class="col-form-label">방문할 회사</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>방문 회사</option>
                                <option value="1">성은컴퍼니</option>
                                <option value="2">윤성컴퍼니</option>
                                <option value="3">주현컴퍼니</option>
                            </select>
                        </div>
                    </div>
                    <div id="dept">
                        <div class="col-auto">
                            <label for="name" class="col-form-label">부서명</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="name" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="vlocation">
                        <div class="col-auto">
                            <label for="pnumber" class="col-form-label">방문장소</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="pnumber" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div id="vpurpose">
                        <div class="col-auto">
                            <label for="youCo" class="col-form-label">방문목적</label>
                        </div>
                        <div class="youCo">
                            <input type="text" id="youCo" class="form-control">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                    <div class="vdate">
                        <div class="col-auto">
                            <label for="name" class="col-form-label">방문일자</label>
                            <label for="start"></label><input type="date" id="start" name="trip-start" value="2024-04-11">
                        </div>
                    </div>
                </div>
            <div class="clearfix"></div>
            <div class="btn_box">
                <div class="applybtn">
                    <button type="button" name="applybtn" id="applybtn" class="form-control btn btn-light btn-outline-dark btn-lg theme-btn--dark-inverse sqs-button-element--dark">방문신청</button>
                </div>
                <div class="rwbtn">
                    <button type="button" name="rwbtn" class="form-control btn btn-light btn-outline-dark btn-lg theme-btn--dark-inverse sqs-button-element--dark">&nbsp;재작성&nbsp;</button>
                </div>
                <div class="cancelbtn">
                    <button type="button" name="cancelbtn" class="form-control btn btn-light btn-outline-dark btn-lg theme-btn--dark-inverse sqs-button-element--dark">방문취소</button>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}
{% block script %}
    <script>
        function validateForm() {
            let applyfrm = document.applyfrm
            let name = applyfrm.name.value;
            let pnumber = applyfrm.pnumber.value;
            let email = applyfrm.email.value;
            let email = applyfrm.email.value;
            let birth = applyfrm.birth.value;
            let phone = applyfrm.phone.value;

            // 필수 필드 확인
            if (!userId) {
                alert('userId 를 입력해주세요.');
                joinfrm.userid.focus();
                return false;
            }

            if (!password) {
                alert('password 를 입력해주세요.');
                joinfrm.passwd.focus();
                return false;
            }

            if (!name) {
                alert('name 를 입력해주세요.');
                joinfrm.name.focus();
                return false;
            }

            if (!email) {
                alert('email 를 입력해주세요.');
                joinfrm.email.focus();
                return false;
            }

            if (!birth) {
                alert('birth 를 입력해주세요.');
                return false;
            }

            if (!phone) {
                alert('phone 를 입력해주세요.');
                joinfrm.phone.focus();
                return false;
            }

            let useridRegex = /^[a-zA-Z0-9]{6,50}$/; // 영문자와 숫자로 이루어진 6자 이상, 50자 이하의 문자열을 허용하는 정규표현식
            if (!useridRegex.test(userId)) {
                alert('아이디는 영문자와 숫자로 이루어진 6자 이상, 50자 이하의 형태로 입력해주세요.');
                joinfrm.userid.focus();
                return false;
            }

            // 이메일 유효성 검사
            let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                alert('올바른 이메일 주소를 입력해주세요.');
                joinfrm.email.focus();
                return false;
            }

            // 전화번호 유효성 검사
            let phoneRegex = /^\d{10,11}$/;
            if (!phoneRegex.test(phone)) {
                alert('올바른 핸드폰 번호를 입력해주세요.');
                joinfrm.phone.focus();
                return false;
            }

            return true;
        }
    </script>


{% endblock %}
